{% extends "home.html" %}
{% load static %}
{% block title %}Form 70{% endblock title %}
{% block ward %}
<a href="/patients/ward"><img src="{% static "/images/patients_top2_btn.png" %}" style="margin-right:20px;"/></a>
{% endblock %}
{% block form31 %}
<a href="/patients/ward/form-31"><img src="{% static "/images/form31_top2_btn_1.png" %}" style="margin-right:10px;"/></a>
{% endblock %}
{% block form70 %}
<a href=""><img src="{% static "/images/form70_top_btn_2.png" %}" style="margin-right:10px;"/></a>
{% endblock %}
{% block style_css %}
<style>
    .width-header {
        width: 200px;
    }
    .width-inner-header {
        width: 190px;
    }
    .font-graph-header {
        padding-left: 40px;
    }
    .width-graph-header {

    }
    .table-header-colspan {
        display: table-cell;
    }
    .table-header-colspan-mobile {
        display: none;
    }
    .hn-name-field {
        margin-left: 60px;
    }
    .search-btn-field {
        
    }
    @media print {        
        .canvasjs-chart-container {
          width: 7000px !important;
        }
    }
    @media only screen and (max-width: 700px) {
        .width-header {
                width: 100px;
            }
            .font-graph-header {
                padding-left: 0px;
                font-size: 25px;
            }
            .width-graph-header {
                width: 100px;
            }
            .width-inner-header {
                width: 90px;
            }
            .table-header-colspan {
                display: none;
            }
            .table-header-colspan-mobile {
                display: table-cell;
            }
            .hn-name-field {
                margin-left: 58px;
                margin-top: 10px;
            }
          }
    @media only screen and (max-width: 600px) {
    .width-header {
            width: 100px;
        }
        .font-graph-header {
            padding-left: 0px;
            font-size: 25px;
        }
        .width-graph-header {
            width: 100px;
        }
        .width-inner-header {
            width: 90px;
        }
        .table-header-colspan {
            display: none;
        }
        .table-header-colspan-mobile {
            display: table-cell;
        }
        .hn-name-field {
            margin-left: 58px;
            margin-top: 10px;
        }
        .search-btn-field {
            margin-top: 10px;
            width: 100%;
            text-align: end;
        }
      }
      @media only screen and (max-width: 400px) {
        .width-header {
                width: 100px;
            }
            .font-graph-header {
                padding-left: 0px;
                font-size: 25px;
            }
            .width-graph-header {
                width: 100px;
            }
            .width-inner-header {
                width: 90px;
            }
            .table-header-colspan {
                display: none;
            }
            .table-header-colspan-mobile {
                display: table-cell;
            }
            .hn-name-field {
                margin-left: 58px;
                margin-top: 10px;
            }
            .search-btn-field {
                margin-top: 10px;
                width: 100%;
                    text-align: end;
            }
          }
          @media only screen and (max-width: 320px) {
            .width-header {
                    width: 100px;
                }
                .font-graph-header {
                    padding-left: 0px;
                    font-size: 25px;
                }
                .width-graph-header {
                    width: 100px;
                }
                .width-inner-header {
                    width: 90px;
                }
                .table-header-colspan {
                    display: none;
                }
                .table-header-colspan-mobile {
                    display: table-cell;
                }
                .hn-name-field {
                    margin-left: 0px;
                    margin-top: 10px;
                }
                .search-btn-field {
                    margin-top: 10px;
                    width: 100%;
                    text-align: end;
                }
              }
</style>
{% endblock style_css %}
{% block content %}
<div class="content-center" style="height:88vh;width:95vw;margin-top: 45px;position: absolute;border-radius: 20px;margin-left: 10px;margin-right: 5px;overflow-y: scroll;">
<div style="margin:10px;">
    <form method="GET" action="/patients/ward/form-70">
        {% csrf_token %}
    <div style="display: flex;margin-left: 10px;flex-wrap: wrap;">
        <div style="color:white;font-size: 25px;margin-right: 10px;font-family: Kanit;margin-left:15px;">HN</div>
        <div><input type="text" value="{{ hn_number }}" name="hn_number" id="input_hn_number" style="height: 35px;border-radius: 8px;background-color: white;border:none;padding-left:10px;padding-right:10px;font-family: Kanit;font-size: 20px;"/></div>
        <div class="hn-name-field" style=""><input type="text" value="{{ patient.firstname }} {{ patient.lastname }}" style="height: 35px;border-radius: 8px;background-color: white;border:none;padding-left:10px;padding-right:10px;font-family: Kanit;font-size: 20px;" disabled/></div>
    </div>
    <br>
    <div style="display: flex;margin-left: 10px;flex-wrap: wrap;">
        <div style="display: flex;">
        <div style="width:60px;color:white;font-size: 20px;font-family: Kanit;">Since</div>
        <div><input type="date" value="{{ start_date|date:"Y-m-d" }}" name="since_date_input" id="since_date_input" style="height: 28px;border-radius: 8px;background-color: white;border:none;padding-left:10px;padding-right:10px;font-family: Kanit;font-size: 20px;"/></div>
        </div>
        <div style="display: flex;">
        <div style="width:60px;color:white;font-size: 20px;font-family: Kanit;text-align: end;padding-right: 10px;">To</div>
        <div><input type="date" value="{{ end_date|date:"Y-m-d" }}" name="to_date_input" id="to_date_input" style="height: 28px;border-radius: 8px;background-color: white;border:none;padding-left:10px;padding-right:10px;font-family: Kanit;font-size: 20px;"/></div>
        </div>
        <div class="search-btn-field" style="margin-left:25px;"><button type="submit" style="background: none;border: none;"><img src="{% static "/images/search_btn.png" %}"/></button></div>
    </div>
    </form>
    <br>

    <div style="display: flex;">
        <div class="width-graph-header">
            <div><h1 class="font-graph-header" style="color: white;font-family: Kanit;margin-top:100px;height:300px;">TEMP</h1></div>
            <div><h1 class="font-graph-header" style="color: white;font-family: Kanit;margin-top:100px;height:300px;">PULSE</h1></div>
            <div style="width: 100%;border-radius: 10px;height:72vh;font-family: Kanit;color: white;display: flex;margin-top:-9px;">
                <table class="width-header" style="">
                    <tbody class="width-inner-header" style="display: block;">
                        <tr style="height:26px;">
                            <td>TIME</td>
                            <td></td>
                        </tr>
                        <tr style="height:26px;"><td>&nbsp;</td></tr>
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            <td class="table-header-colspan" colspan="2">RESPIRATIONS</td>
                            <td class="table-header-colspan-mobile">RES</td>
                        </tr>
                        <tr style="height:26px;">
                            <td class="table-header-colspan" rowspan="2">BP</td>
                            <td class="table-header-colspan">Systolic</td>
                            <td class="table-header-colspan-mobile">BP.S</td>
                        </tr>
                        <tr style="height:26px;">
                            <td class="table-header-colspan">Diastolic</td>
                            <td class="table-header-colspan-mobile">BP.D</td>
                        </tr>
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            <td class="table-header-colspan" colspan="2">MAP</td>
                            <td class="table-header-colspan-mobile">MAP</td>
                        </tr>
                        <tr style="height:26px;">
                            <td>O2Sat</td>
                        </tr>
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            <td class="table-header-colspan" colspan="2">Pain Score</td>
                            <td class="table-header-colspan-mobile">Pain Score</td>
                        </tr>
                        <tr style="height:26px;">
                            <td>Height fundus</td>
                        </tr>
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            <td class="table-header-colspan" colspan="2">Weight</td>
                            <td class="table-header-colspan-mobile">Weight</td>
                        </tr>
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            <td class="table-header-colspan" colspan="2">Height</td>
                            <td class="table-header-colspan-mobile">Height</td>
                        </tr>
                        <tr style="height:26px;">
                            <td>Diet</td>
                        </tr>
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            <td class="table-header-colspan" colspan="2">Urination</td>
                            <td class="table-header-colspan-mobile">Urination</td>
                        </tr>
                        <tr style="height:26px;">
                            <td>Defections</td>
                        </tr>
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            <td class="table-header-colspan" rowspan="3">INTAKE</td>
                            <td class="table-header-colspan">ORAL</td>
                            <td class="table-header-colspan-mobile">ORAL</td>
                        </tr>
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            <td class="table-header-colspan">PARENTERAL</td>
                            <td class="table-header-colspan-mobile">PARENTERAL</td>
                        </tr>
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            <td>TOTAL</td>
                        </tr>
                        <tr style="height:26px;">
                            <td class="table-header-colspan" rowspan="3">OUTPUT</td>
                            <td class="table-header-colspan">ORINE</td>
                            <td class="table-header-colspan-mobile">ORINE</td>
                        </tr>
                        <tr style="height:26px;">
                            <td class="table-header-colspan">EMESIS</td>
                            <td class="table-header-colspan-mobile">EMESIS</td>
                        </tr>
                        <tr style="height:26px;">
                            <td class="table-header-colspan">TOTAL</td>
                            <td class="table-header-colspan-mobile">OUT.TOTAL</td>
                        </tr>
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            <td class="table-header-colspan" colspan="2">TOTAL INTAKE</td>
                            <td class="table-header-colspan-mobile">TOTAL.IN</td>
                        </tr>
                        <tr style="height:26px;">
                            <td class="table-header-colspan">TOTAL OUTPUT</td>
                            <td class="table-header-colspan-mobile">TOTAL.OUT</td>
                        </tr>
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            <td class="table-header-colspan" colspan="2">LOCHIA</td>
                            <td class="table-header-colspan-mobile">LOCHIA</td>
                        </tr>
                        <tr style="height:26px;">
                            <td>PHLEBITIS</td>
                        </tr>
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            <td class="table-header-colspan" colspan="2">MEWS</td>
                            <td class="table-header-colspan-mobile">MEWS</td>
                        </tr>
                        <tr style="height:26px;">
                            <td>PPS</td>
                        </tr>
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            <td class="table-header-colspan" colspan="2">NOTE</td>
                            <td class="table-header-colspan-mobile">NOTE</td>
                        </tr>
                        <tr style="height:26px;">
                            <td>ATB</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% if hn_number %}
        <div style="overflow-x: scroll;">
            <div id="chart-temp-container" style="height: 400px; margin-left:0px;width: {{ width_px }}px;"></div> <!-- width: 70 + 180 + 180 + 180 -->
            <div id="chart-pulse-container" style="height: 400px; margin-left:13px;width:  {{ width_px }}px;"></div> <!-- width: 70 + 180 + 180 + 180 -->
            <div id="telemetry-container" style="display: flex;font-family: Kanit;color: white;margin-left:46px;width: {{ width_px }}px;">
                {% for item in telemetry_date_items %}
                    <table style="text-align: center;width: {{ width_table_px }}px;table-layout: fixed;border-spacing: 0px;border-right:1px solid #FFFFFF7d;">
                        <tr style="height:26px;">
                            <td colspan="{{ size_of_hr }}" style="width: {{ width_table_px }}px;text-align: start;padding-left:5px;">{{ item.date_display }}</td>
                        </tr>
        
                        <tr style="height:26px;">
                        {% for telemetry in item.telemetry %}
                            <td style="width: 35px;text-align: center;">{{ telemetry.hr }}</td>
                        {% endfor %}
                        </tr>
        
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.respirations }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.bp_systolic }}</td>
                            {% endfor %}
                        </tr>
                        <tr style="height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.bp_diastolic }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.map }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.o2_sat }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.pain_score }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.height_of_fundus }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.weight }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.hight }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.diet }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.urination }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.defecations }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.intake_oral }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.intake_parenteral }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.intake_total }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.output_urine }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.output_emesis }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.output_total }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.total_intake }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.total_output }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.lochia }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.phlebitis }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.mews }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.pps }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="background-color: rgb(60, 60, 62);height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.note }}</td>
                            {% endfor %}
                        </tr>
        
                        <tr style="height:26px;">
                            {% for telemetry in item.telemetry %}
                                <td>{{ telemetry.value.atb }}</td>
                            {% endfor %}
                        </tr>
                    
                    </table>
                {% endfor %}
                </div>
        </div>
        
        {% endif %}
        
    </div>
</div>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script id="temp_date_items" type="application/json">{{ temp_date_items|safe }}</script>
<script id="pulse_date_items" type="application/json">{{ pulse_date_items|safe }}</script>
<script>
    async function sendPostRequest() {
        const url = "{% url 'get_form70_graph' %}"; // Replace with your URL endpoint
        const data = {
            key1: '',
            key2: 'value2'
        };

        try {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json', // Sending JSON data
                    'X-CSRFToken': getCookie('csrftoken') // CSRF token for Django
                },
                body: JSON.stringify(data)
            });

            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }

            const result = await response.json();
            console.log('Success:', result);
            document.getElementById('message').textContent = 'Success: ' + JSON.stringify(result);
        } catch (error) {
            console.error('Error:', error);
            document.getElementById('message').textContent = 'Error: ' + error;
        }
    }

    // Helper function to get CSRF token from cookies (Django specific)
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
  <script type="text/javascript">
    function renderGraph() {
        var timeSeriesDataElement = document.getElementById('temp_date_items')
        var pulseTimeSeriesDataElement = document.getElementById('pulse_date_items')
        if (timeSeriesDataElement.textContent != "null" && pulseTimeSeriesDataElement.textContent != "null") {
        var timeSeriesData = JSON.parse(timeSeriesDataElement.textContent) // {key: '02', data: ''}

        // Convert the data to the desired format
        var key = 2
        var maxTemp = 0
        var minTemp = 50
        var formattedData = timeSeriesData.map(function(item) {
            var data = NaN
            if (item.data != NaN && item.data != "") {
                data = parseFloat(item.data)
                if (data > maxTemp) {
                    maxTemp = data
                }
                if (data < minTemp) {
                    minTemp = data
                }
            }
            var value = { x: parseInt(key), y: data };
            key += 4
            return value
        });
        
        var pulseTimeSeriesData = JSON.parse(pulseTimeSeriesDataElement.textContent) // {key: '02', data: ''}
        // Convert the data to the desired format
        var pulseKey = 2
        var maxPulse = 0
        var minPulse = 200
        var pulseFormattedData = pulseTimeSeriesData.map(function(pulse) {
            console.log(pulse.data)
            var data = NaN
            if (pulse.data != NaN && pulse.data != "") {
                data = parseFloat(pulse.data)
                if (data > maxPulse) {
                    maxPulse = data
                }
                if (data < minPulse) {
                    minPulse = data
                }
            }
            var value = { x: parseInt(pulseKey), y: data };
            pulseKey += 4
            return value
        });

        CanvasJS.addColorSet("chartTempShades",
                [//colorSet Array

                "#FFFFFFFF",              
                ]);
      var chartTemp = new CanvasJS.Chart("chart-temp-container", {
        width:{{ width_px }},
        colorSet: "chartTempShades",
        backgroundColor: "#00000000",
        title: {
            fontFamily: "Kanit",
        },
        axisX: {
          interval: 4,
          lineColor: "#00000000",
          gridColor: "#00000000",
          labelFontColor: "#00000000",
          tickColor: "#00000000",
          valueFormatString: "###000",
          gridThickness: 1,
        },
        axisY: {
            labelFontColor: "#FFFFFFFF",
            lineColor: "#FFFFFFFF",
            gridColor: "#00000000",
            tickColor: "#00000000",
            valueFormatString: "###0.0",
            maximum: maxTemp + 0.5,
            minimum: minTemp - 0.5,
        },

        data: [{
          type: "line",
          axisXIndex: 0, //defaults to 0
          toolTipContent: "{y}",
          dataPoints: formattedData,
        }],

        options: {
            tooltips: {
                mode: 'index',
                intersect: false
             },
             hover: {
                mode: 'index',
                intersect: false
             },
            maintainAspectRatio: false,
            scales: {
                x: {
                    ticks: {
                      display: false,
                    }
                  },
                xAxes: [{
                    gridLines: {
                        display: false,
                        drawBorder: false,
                    }
                }],
            },
        }
      });
      chartTemp.render();
      CanvasJS.addColorSet("chartPulseShades",
                [//colorSet Array

                "#f9a545",              
                ]);
      var chartPulse = new CanvasJS.Chart("chart-pulse-container", {
        width:{{ width_px }},
        colorSet: "chartPulseShades",
        backgroundColor: "#00000000",
        title: {
            fontFamily: "Kanit",
        },
        axisX: {
          interval: 4,
          gridColor: "#00000000",
          lineColor: "#00000000",
          labelFontColor: "#00000000",
          tickColor: "#00000000",
          gridThickness: 1,
          
        },
        axisY: {
            labelFontColor: "#f9a545",
            lineColor: "#f9a545",
            gridColor: "#00000000",
            tickColor: "#00000000",
            valueFormatString: "###0",
            maximum: maxPulse + 5,
            minimum: minPulse - 5,
        },

        data: [{
          type: "line",
          axisXIndex: 0, //defaults to 0
          toolTipContent: "{y}",
          dataPoints: pulseFormattedData,
        }],

        options: {
            tooltips: {
                mode: 'index',
                intersect: false
             },
             hover: {
                mode: 'index',
                intersect: false
             },
            maintainAspectRatio: false,
            scales: {
                x: {
                    ticks: {
                      display: false,
                    }
                  },
                xAxes: [{
                    gridLines: {
                        display: false,
                        drawBorder: false,
                    }
                }],
            },
        }
      });
      chartPulse.render();
    }
    }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
<script>
    function renderTelemetry(telemetry_date_items) {
        var inner_html = ''
        telemetry_date_items.forEach(function(item) {
            var hr_inner_html = ''
            var respirations_inner_html = ''
            var bp_systolic_inner_html = ''
            var bp_diastolic_inner_html = ''
            var map_inner_html = ''
            var o2_sat_inner_html = ''
            var pain_score_inner_html = ''
            var height_of_fundus_inner_html = ''
            var weight_inner_html = ''
            var hight_inner_html = ''
            var diet_inner_html = ''
            var urination_inner_html = ''
            var defecations_inner_html = ''
            var intake_oral_inner_html = ''
            var intake_parenteral_inner_html = ''
            var intake_total_inner_html = ''
            var output_urine_inner_html = ''
            var output_emesis_inner_html = ''
            var output_total_inner_html = ''
            var total_intake_inner_html = ''
            var total_output_inner_html = ''
            var lochia_inner_html = ''
            var phlebitis_inner_html = ''
            var mews_inner_html = ''
            var pps_inner_html = ''
            var note_inner_html = ''
            var atb_inner_html = ''
            item.telemetry.forEach(function(telemetry) {
                hr_inner_html += '<td style="width: 35px;text-align: center;">' + telemetry.hr + '</td>'
                if (telemetry.value) {
                    respirations_inner_html += '<td>' + telemetry.value.respirations + '</td>'
                    bp_systolic_inner_html += '<td>' + telemetry.value.bp_systolic + '</td>'
                    bp_diastolic_inner_html += '<td>' + telemetry.value.bp_diastolic + '</td>'
                    map_inner_html += '<td>' + telemetry.value.map + '</td>'
                    o2_sat_inner_html += '<td>' + telemetry.value.o2_sat + '</td>'
                    pain_score_inner_html += '<td>' + telemetry.value.pain_score + '</td>'
                    height_of_fundus_inner_html += '<td>' + telemetry.value.height_of_fundus + '</td>'
                    weight_inner_html += '<td>' + telemetry.value.weight + '</td>'
                    hight_inner_html += '<td>' + telemetry.value.hight + '</td>'
                    diet_inner_html += '<td>' + telemetry.value.diet + '</td>'
                    urination_inner_html += '<td>' + telemetry.value.urination + '</td>'
                    defecations_inner_html += '<td>' + telemetry.value.defecations + '</td>'
                    intake_oral_inner_html += '<td>' + telemetry.value.intake_oral + '</td>'
                    intake_parenteral_inner_html += '<td>' + telemetry.value.intake_parenteral + '</td>'
                    intake_total_inner_html += '<td>' + telemetry.value.intake_total + '</td>'
                    output_urine_inner_html += '<td>' + telemetry.value.output_urine + '</td>'
                    output_emesis_inner_html += '<td>' + telemetry.value.output_emesis + '</td>'
                    output_total_inner_html += '<td>' + telemetry.value.output_total + '</td>'
                    total_intake_inner_html += '<td>' + telemetry.value.total_intake + '</td>'
                    total_output_inner_html += '<td>' + telemetry.value.total_output + '</td>'
                    lochia_inner_html += '<td>' + telemetry.value.lochia + '</td>'
                    phlebitis_inner_html += '<td>' + telemetry.value.phlebitis + '</td>'
                    mews_inner_html += '<td>' + telemetry.value.mews + '</td>'
                    pps_inner_html += '<td>' + telemetry.value.pps + '</td>'
                    note_inner_html += '<td>' + telemetry.value.note + '</td>'
                    atb_inner_html += '<td>' + telemetry.value.atb + '</td>'
                } else {
                    respirations_inner_html += '<td></td>'
                    bp_systolic_inner_html += '<td></td>'
                    bp_diastolic_inner_html += '<td></td>'
                    map_inner_html += '<td></td>'
                    o2_sat_inner_html += '<td></td>'
                    pain_score_inner_html += '<td></td>'
                    height_of_fundus_inner_html += '<td></td>'
                    weight_inner_html += '<td></td>'
                    hight_inner_html += '<td></td>'
                    diet_inner_html += '<td></td>'
                    urination_inner_html += '<td></td>'
                    defecations_inner_html += '<td></td>'
                    intake_oral_inner_html += '<td></td>'
                    intake_parenteral_inner_html += '<td></td>'
                    intake_total_inner_html += '<td></td>'
                    output_urine_inner_html += '<td></td>'
                    output_emesis_inner_html += '<td></td>'
                    output_total_inner_html += '<td></td>'
                    total_intake_inner_html += '<td></td>'
                    total_output_inner_html += '<td></td>'
                    lochia_inner_html += '<td></td>'
                    phlebitis_inner_html += '<td></td>'
                    mews_inner_html += '<td></td>'
                    pps_inner_html += '<td></td>'
                    note_inner_html += '<td></td>'
                    atb_inner_html += '<td></td>'
                }
            
                
            });

            inner_html += '<table style="text-align: center;width: {{ width_table_px }}px;table-layout: fixed;border-spacing: 0px;border-right:1px solid #FFFFFF7d;">' +
            '<tr style="height:26px;">' +
            '<td colspan="{{ size_of_hr }}" style="width: {{ width_table_px }}px;text-align: start;padding-left:5px;">' + item.date_display + '</td>' +
            '</tr>' +
            '<tr style="height:26px;">' + hr_inner_html + '</tr>' +
            '<tr style="background-color: rgb(60, 60, 62);height:26px;">' + respirations_inner_html + '</tr>' +
            '<tr style="height:26px;">' + bp_systolic_inner_html + '</tr>' +
            '<tr style="height:26px;">' + bp_diastolic_inner_html + '</tr>' +  
            '<tr style="background-color: rgb(60, 60, 62);height:26px;">' + map_inner_html + '</tr>' +
            '<tr style="height:26px;">' + o2_sat_inner_html + '</tr>' +
            '<tr style="background-color: rgb(60, 60, 62);height:26px;">' + pain_score_inner_html + '</tr>' +
            '<tr style="height:26px;">' + height_of_fundus_inner_html + '</tr>' +
            '<tr style="background-color: rgb(60, 60, 62);height:26px;">' + weight_inner_html + '</tr>' +
            '<tr style="background-color: rgb(60, 60, 62);height:26px;">' + hight_inner_html + '</tr>' +
            '<tr style="height:26px;">' + diet_inner_html + '</tr>' +
            '<tr style="background-color: rgb(60, 60, 62);height:26px;">' + urination_inner_html + '</tr>' +
            '<tr style="height:26px;">' + defecations_inner_html + '</tr>' +
            '<tr style="background-color: rgb(60, 60, 62);height:26px;">' + intake_oral_inner_html + '</tr>' +
            '<tr style="background-color: rgb(60, 60, 62);height:26px;">' + intake_parenteral_inner_html + '</tr>' +
            '<tr style="background-color: rgb(60, 60, 62);height:26px;">' + intake_total_inner_html + '</tr>' +
            '<tr style="height:26px;">' + output_urine_inner_html + '</tr>' +
            '<tr style="height:26px;">' + output_emesis_inner_html + '</tr>' +
            '<tr style="height:26px;">' + output_total_inner_html + '</tr>' +
            '<tr style="background-color: rgb(60, 60, 62);height:26px;">' + total_intake_inner_html + '</tr>' +
            '<tr style="height:26px;">' + total_output_inner_html + '</tr>' +
            '<tr style="background-color: rgb(60, 60, 62);height:26px;">' + lochia_inner_html + '</tr>' +
            '<tr style="height:26px;">' + phlebitis_inner_html + '</tr>' +
            '<tr style="background-color: rgb(60, 60, 62);height:26px;">' + mews_inner_html + '</tr>' +
            '<tr style="height:26px;">' + pps_inner_html + '</tr>' +
            '<tr style="background-color: rgb(60, 60, 62);height:26px;">' + note_inner_html + '</tr>' +
            '<tr style="height:26px;">' + atb_inner_html + '</tr>' +
            '</table>'
        });
        document.getElementById("telemetry-container").innerHTML = inner_html
    }
    function fetchGraphData() {
        console.log('fetchGraphData')
        var start_date = document.getElementById('since_date_input').value
        console.log(start_date)
        var end_date = document.getElementById('to_date_input').value
        console.log(end_date)
        var hn_number = document.getElementById('input_hn_number').value
        console.log(hn_number)
        console.log("{% url 'get_form70_graph' %}" + "?hn_number=" + hn_number + "&since_date_input=" + start_date + "&to_date_input=" + end_date)
        $.ajax({
            url: "{% url 'get_form70_graph' %}" + "?hn_number=" + hn_number + "&since_date_input=" + start_date + "&to_date_input=" + end_date,
            type: "GET",
            dataType: "json",
            success: function(data) {
                console.log(data.temp_date_items);
                console.log(data.pulse_date_items);
                // Update your HTML with the new data
                document.getElementById("temp_date_items").textContent = data.temp_date_items
                document.getElementById("pulse_date_items").textContent = data.pulse_date_items
                renderGraph()
                renderTelemetry(data.telemetry_date_items)
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }
    var hn_number = "{{ hn_number }}"
  //var socket = io('http://127.0.0.1:8000');
  var socket = io('http://103.253.73.15:8001');
  socket.on('connect', function(){console.log("Hello World!");});
  socket.emit('join', { room: 'form70' });
  socket.on('update_form70', function(data){
    console.log("Hello World update_form70!");
    if (data == hn_number) {
        fetchGraphData();
        //window.location.reload();
    }
  });
  socket.on('disconnect', function(){});
  renderGraph();
</script>
{% endblock scripts %}
